* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  /*box-sizing: border-box;*/
}



/*MOBILE___________________________
@media screen and (max-width: 544px) {*/


/*TABLET__________________________*/
@media screen and (min-width: 545px) and (max-width: 768px) {
}

/*DESKTOP_________________________*/
@media screen and (min-width: 769px) and (max-width: 1400px) {
}
/*background-image:url("../week-two-project/images/filmclub.png");*/
