/*text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

colors-------------------------------*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  width: 100vw;
  min-height: 100vh;
}
/*----------------------------------------------------*/

.body-wrap {
   width: 100vw;
   min-height: 100vh;
   font-family: 'PT Sans', sans-serif;
   font-weight: lighter;
   font-size: 100%;
}

header {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 25vw;
   background-color: #F5005B;
}

#logo {
   width: 23vw;
   height: 25vw;
   border: solid 8px #F5005B;
   background-image: url("../images/filmclub.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;

}

nav{
   width: 100%;
   /*flex-grow: 3;*/
   display: flex;
   flex-direction:column;
   /*max-height: 20vh;*/
   background-color: #7DDFE8;
}

nav a{
   font-size: 3vw;
   height: 33.3333%;
   /*flex-grow: 1;*/
   color: #FFFFFF;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

#home {
   background-color: #00A5BF;
}

#calendar {
   background-color: #00B7D3;
}

#join {
   background-color: #00D5E7;
}
/*---------------------------------*/

h2 {
   width: 100%;
   padding: .4em;
   background-color: #0B1942;
   color: #FFFFFF;
   font-weight: lighter;
   font-size: 5.5vw;
}

p {
  font-size: 3.5vw;
  padding: .5em 0;
}

.get-involved {
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 5vw;
   line-height: 1.5;
}

#get-involved {
   color: #0B1942;
   padding: 3vw 0;
   font-weight: lighter;
   font-size: 8vw;
}

/*-------------------------------------------*/
.up-next {
   background-color: #0B1942;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 5vw;
   line-height: 1;
}

.up-next p{
   font-size: 3vw;
}

#up-next {
      background-color: #0B1942;
      color: #FFFFFF;
      font-weight: lighter;
      font-size: 8vw;
      width: 100%;
      padding: 5vw;
}

.feature-card {
   width: 90vw;
   position: relative;
   background-color: #E2E2E2;
   padding: 2vw;
   display: flex;
   flex-flow: nowrap row;
   justify-content: space-between;
   line-height: 1.5;
}

.feature-card a {
       color: #00D5E7;
      font-size: 4vw;
}

#rashomon {
   width: 40vw;
   height: 60vw;
   background-image:url("/Users/zoe/Desktop/wk-2-project/images/rashomon-poster.jpg");
   background-size: cover;
}

.feature-info {
   width: 40vw;
   padding: 1.5vw;
}

h3 {
   font-size: 3vw;
   padding: 3vw 0 2vw 0;
   border-top: solid 1px #0B1942;

}

li {
   font-size: 3vw;
   padding-left: 1vw;
}

.else-card {
   width: 90vw;
   position: relative;
   background-color: #E2E2E2;
   padding: 2vw;
   margin: 5vw 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.else-row {
   width: 90vw;
   height: 75vw;
   display: flex;
   justify-content: space-between;
   /*border: solid black 1px;*/
}

.film-wrap {
   width: 40vw;
   /*border: solid black 1px;*/
}

.poster-wrap {
   width: 40vw;
   height: 60vw;
   margin-bottom: 1.5vw;
}

.else-card a {
    color: #00D5E7;
   font-size: 3.5vw;
}

#train {
   background-image:url("../images/great-train-poster.jpg");
   background-position:center;
   background-size:cover;
}

#bicycle {
   background-image:url("../images/bicycle-thief-poster.jpg");
   background-position:center;
   background-size:cover;
}

#nosferatu {
   background-image:url("../images/nosferatu-poster.jpg");
   background-position:center;
   background-size:cover;
}

#metropolis {
   background-image:url("../images/metropolis-poster.jpg");
   background-position:center;
   background-size:cover;
}

/*----------------------------------------*/
footer {
   position: relative;
   display: flex;
   flex-direction: column;
   text-align: center;
   height: 40vw;
   background-color: #7DDFE8;
}

footer nav {
   height: 25vw;
}
footer a {
   flex-grow: 1;
}

footer p {
   height: 15vw;
   color: #FFFFFF;
   font-size: 3vw;
   display: flex;
   justify-content: center;
   align-items: center;
}


/*MOBILE___________________________
@media screen and (max-width: 544px) {*/


/*TABLET__________________________--------------------------------------------------------------------*/
@media screen and (min-width: 545px) and (max-width: 768px) {
.body-wrap{
   width: 100vw;
   min-height: 100vh;
   font-size: 100%;
}

header {
   height: 20vw;
}

#logo {
   height: 20vw;
   width: 18vw;
}

nav {
   flex-direction: row;
}

header a {
   width: 17vw;
   height: 20vw;
}

h2 {
   padding: .3em;
   font-size: 3.2vw;
}

p {
  font-size: 2.4vw;
}

.get-involved {
   flex-flow: wrap row;
   justify-content: space-around;
   padding: 3vw;
   line-height: 1.5;
}

#get-involved {
   width: 100vw;
   padding: 2vw 0;
   font-size: 6.5vw;
}

.watch-container {
   width: 31%;
}

.takenotes-container {
   width: 31%;
}

.meetup-container {
   width: 31%;
}


.up-next {
   background-color: #0B1942;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 5vw;
   line-height: 1;
}

.up-next p{
   font-size: 3vw;
}

#up-next {
      background-color: #0B1942;
      color: #FFFFFF;
      font-weight: lighter;
      font-size: 8vw;
      width: 100%;
      padding: 5vw;
}

.feature-card {
   width: 90vw;
   position: relative;
   background-color: #E2E2E2;
   padding: 2vw;
   display: flex;
   flex-flow: nowrap row;
   justify-content: space-between;
   line-height: 1.5;
}

.feature-card a {
       color: #00D5E7;
      font-size: 4vw;
}

.else-card {
   flex-wrap: nowrap;
   justify-content: center;
}

.else-row {
   width: 90vw;
   height: 75vw;
   display: flex;
   justify-content: space-between;
   /*border: solid black 1px;*/
}

.film-wrap {
   width: 40vw;
   /*border: solid black 1px;*/
}

.poster-wrap {
   width: 40vw;
   height: 60vw;
   margin-bottom: 1.5vw;
}

.else-card a {
   font-size: 2.75vw;
}


footer {
   flex-direction: row;
   height: 20vw;
   width: 100vw;
}

footer nav {
   height: 100%;
   width: 45%;
   /*border: black solid 1px;*/
}
footer a{
   width: 33.3333%;
   height: 100%;
}
footer p{
   width: 50%;
   height: 100%;
   text-align: right;
   justify-content: flex-end;
}
}

/*DESKTOP_________________________*/
@media screen and (min-width: 769px) and (max-width: 1400px) {
}
/*background-image:url("../week-two-project/images/filmclub.png");*/
