/*text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

colors-------------------------------*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  width: 100vw;
  min-height: 100vh;
}
/*----------------------------------------------------*/

.body-wrap {
   width: 100vw;
   min-height: 100vh;
   font-family: 'PT Sans', sans-serif;
   font-weight: lighter;
   font-size: 100%;
}

header {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 25vw;
   background-color: #F5005B;
}

#logo {
   /*box-sizing: content-box;*/

   width: 22vw;
   height: 25vw;
   border: solid 8px #F5005B;
   background-image: url("../images/filmclub.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;

}

nav{
   flex-grow: 3;
   display: flex;
   flex-direction:column;
   /*max-height: 20vh;*/
   background-color: #7DDFE8;
}

nav a{
   flex-grow: 1;
   color: #FFFFFF;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

#home {
   background-color: #00A5BF;
}

#calendar {
   background-color: #00B7D3;
}

#join {
   background-color: #00D5E7;
}


h2 {
   width: 100%;
   padding: .4em;
   background-color: #0B1942;
   color: #FFFFFF;
   font-weight: lighter;
}

.get-involved {
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 5vw;
   line-height: 1.5;
}

.get-involved h1 {
   color: #0B1942;
   padding: 3vw 0;
   font-weight: lighter;
   font-size: 8vw;
}

.get-involved p {
   font-size: 3.5vw;
   padding: .5em 0;
}

.up-next {
   background-color: #0B1942;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 5vw;
}

#up-next {
      background-color: #0B1942;
      color: #FFFFFF;
      font-weight: lighter;
      font-size: 8vw;
}

.up-next a {
    color: #00D5E7;
}


footer {
   display: flex;
   flex-direction: column;
   text-align: center;
   height: 35vw;
   background-color: #7DDFE8;
}

footer nav a {
   flex-grow: 1;
}

footer p {
   flex-grow: 2;
   color: #FFFFFF;
   padding:.5em 0;

}


/*MOBILE___________________________
@media screen and (max-width: 544px) {*/


/*TABLET__________________________*/
@media screen and (min-width: 545px) and (max-width: 768px) {
}

/*DESKTOP_________________________*/
@media screen and (min-width: 769px) and (max-width: 1400px) {
}
/*background-image:url("../week-two-project/images/filmclub.png");*/
