/*text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

colors-------------------------------*/


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
}

.body-wrap {
  width: 100vw;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 100%;
}

header {
   position: relative;
   display: flex;
   flex-direction: row;
   width: 100vw;
   height: 12vw;
   background-color: #7DDFE8;
}

.logo-container {
   position: relative;
   width: 11.75vw;
   height: 12vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F5005B;
}

#logo {
   position: relative;
   width: 79%;
   height: 85%;
   background-image: url("../images/filmclub.png");
   background-position: center;
   background-size: cover;
}

nav {
   display: flex;
   width: 35.25vw;
}
nav a{
   cursor: pointer;
   width: 33.3333%;
   color: #FFFFFF;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2vw;
}
nav a:hover{
   border-bottom: 3px solid #FFFFFF;
   text-shadow: 1px 1px 2px grey;
   /*transform-style: preserve-3d;*/
}

#home {
   background-color: #00A5BF;
}

#calendar {
   background-color: #00B7D3;
}

#join {
   background-color: #00D5E7;
}
/*---------------------------------*/

h1 {
   font-size: 4.5vw;
   font-weight: lighter;
   padding: 2vw;
   box-shadow: 2px 2px 5px black;
   color: #0B1942;
   background-color: #FFFFFF;
}

h2 {
   font-size: 3.75vw;
   padding: 1.5vw 2vw 0 2vw;
   font-weight: lighter;
   color: #FFFFFF;
   background-color: #0B1942;
}

/*--------------------------------*/
#pink {
   background-color: #F5005B;
}
.container {
   width: 100vw;
   height: 80vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0B1942;
}


.month {
   color: #FFFFFF;
   background-color: #0B1942;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.week {
   position: relative;
   height: 14.2857vw;
   width: 100vw;
   display: flex;
}

.day {
   width:14.2857vw;
   background-color: #FFFFFF;
   border: solid #0B1942 1px;
   border-radius: 2px;
}

.label {
   width: 25%;
   height:25%;
   padding:2%;
   display: flex;
   align-items: center;
   justify-content:center;
   color: #FFFFFF;
   background-color: #0B1942;
   border-radius: 1px;
   font-size: 1.5vw;
}

#filler {
  background-color: transparent;
}

footer {
   position: relative;
   display: flex;
   flex-direction: row;
   width: 100vw;
   height: 12vw;
   background-color: #7DDFE8;
}

footer span {
   position: relative;
   flex-grow: 1;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 2vw;
   font-size: 2vw;
   color: #FFFFFF;

}






/*MOBILE___________________________*/
/*NEED TO MAKE A MEDIA QUERY WHERE JS STEPS IN AND PRINTS A BIG, BOLD, "NO" if anyone tries to
collapse their window to less than 300px, IMEANREALLY */
@media screen and (max-width: 544px) {
   .body-wrap {
      width: 100vw;
   }

   header {
      height: 15vh;
   }

   .logo-container {
      width: 15.25vh;
      height: auto;
   }

   nav {
      width: 80.42vw;
      height: auto;
      flex-direction: column;
   }

   nav a {
      width: 100%;
      height: 100%;
      font-size: 2vh;
   }

   nav a:hover {
      border-bottom: 1px solid #FFFFFF;
      text-shadow: 1px 1px 2px grey;
      /*transform-style: preserve-3d;*/
   }

   h1 {
      font-size: 7vw;
      font-weight: lighter;
      padding: 5.5vw;
   }

   h2 {
      font-size: 6vw;
      padding: 4vh 4vw 4vw 5.5vw;
   }

   .label {
      width: 40%;
      height: 40%;
      padding:2%;
      font-size: 2.5vw;
   }

   .container {
      height: 85vw;
   }




   footer {
      flex-wrap: wrap;
      height: 25vh;
      /*min-height: fill-available;*/
      background-color: #7DDFE8;
   }

   footer nav{
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 15vh;
   }

   footer span {
      justify-content: center;
      width: 100vw;
      height: 10vh;
      font-size: 1.75vh;
   }

}

/*TABLET__________________________*/
@media screen and (min-width: 545px) and (max-width: 769px) {
   header {
      height: 15vh;
   }

   .logo-container {
      width: 15.25vh;
      height: auto;
   }

   nav {
      width: 45.5vh;

   }

   nav a {
      width: 100%;
      height: 100%;
      font-size: 2vh;
   }

   h1 {
      font-size: 5.5vw;
      font-weight: lighter;
      padding: 3vw 5vw;
   }

   h2 {
      font-size: 4.7vw;
      padding: 4vh 4vw 4vw 5.5vw;
   }

   .label {
      font-size: 1.75vw;

   }

   footer {
      height: 15vh;
}
}

/*DESKTOP_________________________*/
/*@media screen and (min-width: 769px) and (max-width: 1400px) {
}*/
