/*text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

colors-------------------------------*/


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  width: 100vw;
}

.body-wrap {
  width: 100vw;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 100%;
}

header {
   display: flex;
   background-color: #7DDFE8;
}

.logo-container {
   background-color: #F5005B;
}

#logo {
   position: relative;
   border: solid 1px black;
   background-image: url("../images/filmclub.png");
}

nav{
}

nav a{
   color: #FFFFFF;
   text-decoration: none;
}

#home {
   background-color: #00A5BF;
}

#calendar {
   background-color: #00B7D3;
}

#join {
   background-color: #00D5E7;
}
/*---------------------------------*/

h1 {
   border: solid black 1px;
   color: #0B1942;
   background-color: #FFFFFF;
}

h2 {
   border: solid black 1px;
   color: #FFFFFF;
   background-color: #0B1942;
}

/*--------------------------------*/
#pink {
   background-color: #F5005B;
}
.container {
   width: 100vw;
   height: 75vw;
   display: flex;
   justify-content: center;
   align-items: center;
}


.month {
   color: #FFFFFF;
   background-color: #0B1942;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.week {
   position: relative;
   height: 14.2857vw;
   width: 100vw;
   display: flex;
}

.day {
   width:14.2857vw;
   background-color: #FFFFFF;
   border: solid #0B1942 1px;
   border-radius: 2px;
}

.label {
   width: 25%;
   height:25%;
   padding:2%;
   display: flex;
   align-items: center;
   justify-content:center;
   color: #FFFFFF;
   background-color: #0B1942;
   border-radius: 1px;
   font-size: 2vw;
}

#filler {
  background-color: transparent;
}




/**/
footer {
   display: flex;
   background-color: #7DDFE8;
}

footer nav {
   border: solid black 1px;
}

footer span{
   color: #FFFFFF;
   border: solid black 1px;
}






/*MOBILE___________________________*/
@media screen and (max-width: 544px) {
   .body-wrap {
      height: 165vh;
      width: 100%;
   }




}

/*TABLET__________________________*/
@media screen and (min-width: 545px) {
}

/*DESKTOP_________________________*/
@media screen and (min-width: 769px) and (max-width: 1400px) {
}
